{% extends 'admin_site/layout.html' %}
{% load static %}
{% block 'main' %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card profile-card card-bx m-b30">
                <div class="card-header">
                    <h6 class="title">Human Resource Setting </h6>
                    <a href="{% url 'hr_setting_edit' human_resource_setting.id %}" class="btn btn-primary" style="float:right">Update Info</a>
                </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Auto Generate Staff ID</label>
                                <br />
                                <h1 class="card-title">{% if human_resource_setting.auto_generate_staff_id %} YES {% else %} NO {% endif %}</h1>

                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Auto Staff ID Prefix</label>
                                <br />
                                <h1 class="card-title">{% if human_resource_setting.staff_id_prefix %} {{ human_resource_setting.staff_id_prefix|upper }} {% endif %}</h1>
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Auto Generate Staff Logins</label>
                                <br />
                                <h1 class="card-title">{% if human_resource_setting.auto_generate_logins %} YES {% else %} NO {% endif %}</h1>
                            </div>


                        </div>
                    </div>

            </div>
        </div>
    </div>

</form>
{% endblock %}