{% extends 'admin_site/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}

<style>
	td, th{
		border:1px solid black;
		padding-left:5px;
		text-align:center;
		font-family:courier
	}
	.student-summary span{
		margin-right:20px
	}
	.student-info span {
		margin-right:30px
	}

	.student-info {
		font-size: 14px;
		font-family: sans serif
	}
	{% for subject in subject_list %}
		#bar{{forloop.counter}} {
			{% for key, value in result.result.items %}
				{% if subject.id|stringformat:"i" == key %}
					 height:{{ value.total|floatformat }}%;
					 border: 1px solid red;

				{% endif %}
			{% endfor %}
		}
	{% endfor %}
	th {
		height: 20px;
		font-size: 12px;
		padding:0px
	}



</style>
{% if form.errors %}
        <h5 class="text-danger">{{form.errors}}</h5>
        {% endif %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Name: {{ training_payment.student|title }} <br />
                Reg No: {{ training_payment.student.registration_number|upper }} <br />
                Cohort: {{ training_payment.cohort|upper }}
                <img class="rounded-circle" style="margin-top:-30px;display:inline;float:right;width:100px;height:100px;border-radius:5px;" {% if training_payment.student.image %} src="{{ training_payment.student.image.url }}" {% else %} src="{% static 'admin_site/images/default_image.jpg' %}" {% endif %} /></h4>
            <p>
                {% if training_payment.status == 'pending' %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#confirm" title="Confirm Payment" class="btn btn-success"><i class="bi bi-check"></i> </button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#decline" title="Decline Payment" class="btn btn-danger"><i class="bi bi-x"></i> </button>
                {% endif %}
                <button type="button" title="Print Detailed Receipt" id="download-detail-receipt-button" class="btn btn-primary"><i class="bi bi-printer-fill"></i> </button>
                <button type="button" title="Print Receipt Summary" id="download-summary-receipt-button" data-bs-toggle="modal" data-bs-target="#bulk-payment" class="btn btn-primary"><i class="bi bi-printer"></i> </button>

            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body pt-3">
                <ul class="nav nav-tabs nav-tabs-bordered">
                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Payment Detail</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#current-payment">Payments Receipt</button>
                    </li>

                </ul>

                <div class="tab-content pt-2">
                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        <h5 class="card-title">Fee Payment Detail for {{training_payment.student|title}}, {% if training_payment.student.student_class %} {{ training_payment.student.student_class }} {{ training_payment.student.class_section }} - {% endif %} {{ training_payment.term|title }} {{ training_payment.session }} Session </h5>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Fee</th>
                                <th scope="col">Amount Paid</th>
                                <th scope="col">Total Paid</th>
                                <th scope="col">Balance</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>{{ training_payment.course|title }}</td>
                                <td>{{ training_payment.currency.symbol }}{{ training_payment.amount_paid|intcomma }}</td>
                                <td></td>
                                <td></td>
                            </tr>

                            </tbody>
                        </table>
                        <h4 class="card-title">Amount: {{ amount_in_word|title }} {{ training_payment.currency|title }} Only ({{ training_payment.currency.symbol }}{{training_payment.amount_paid|intcomma}})</h4>
                    </div>

                    <div class="tab-pane fade profile-edit pt-3" id="current-payment">
                        <div id="download-detailed-receipt">
                            <div style="background-color:white;border:2px solid skyblue;">
                                <div class="" style="color:black;font-family:cursive;background-color:white;border-bottom:2px solid black;height:135px">
                                    <div class="row">
                                        <div class="col-2">
                                             <img {% if training_payment.student.image %} src="{{ training_payment.student.image.url }}" {% else %} src="{% static 'admin_site/images/default_image.jpg' %}" {% endif %} style="width:100%;height:133px;border-radius:0px;" />
                                        </div>

                                        <div class="col-8" style="padding:15px">
                                            <h4 class="text-center" style="color:grey;font-family:serif"><b>{{ site_info.name|upper }}</b></h4>
                                            <h6 class="text-center" style="color:grey;font-size:14px;margin-top:10px"><b>...Bridging the Knowledge Gap</b></h6>
                                            <h6 class="text-center" style="color:grey">{{ site_info.address|title }}</h6>
                                            <p class="text-center" style="color:grey;margin-bottom:10px;font-size:13px">{{ site_info.mobile_1 }} | {{ site_info.email|lower }}  </p>
                                        </div>

                                        <div class="col-2">
                                             <img src="{{ site_info.logo.url }}" style="width:100%;height:133px;border-radius:0px;" />
                                        </div>
                                    </div>
                                </div>

                                <div class="bg-success" style="color:white;height:30px;border-bottom:1px solid black;border-top:0px solid black;">
                                    <p class="text-center" style="font-weight:bold;font-family:cursive">Fee Payment Receipt </p>
                                </div>

                                <div style="padding:10px;font-family:sans-serif">
                                    <div class="row">
                                        <div class="col-6">
                                            No: {{ training_payment.reference|upper }}
                                        </div>
                                        <div class="col-6">
                                            Date: {{ training_payment.payment_date|date }}
                                        </div>
                                        <div class="col-6">
                                            Name: {{ training_payment.student|title }}
                                        </div>

                                        <div class="col-6">
                                            Cohort: {{ training_payment.cohort}}
                                        </div>

                                    </div>

                                </div>

                                <div>
                                    <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Fee</th>
                                        <th scope="col">Amount</th>
                                      </tr>
                                    </thead>
                                    <tbody>

                                      <tr>
                                            <th scope="row">1</th>
                                            <td>{{ training_payment.course|title }}</td>
                                            <td>{{ training_payment.amount_paid|intcomma }}</td>
                                      </tr>


                                     <tr>
                                        <td colspan="3" style="color:white;background:white">hi</td>
                                      </tr>
                                    <tr>
                                        <th></th>
                                        <th>Total</th>
                                        <th>{{ training_payment.currency.symbol }}{{ training_payment.amount_paid|intcomma }}</th>
                                    </tr>
                                    </tbody>
                                  </table>
                                    <h4 class="card-title" style="padding:10px">{{ amount_in_word|title }} {{ training_payment.currency|title }} Only</h4>
                                </div>
                            </div>
                        </div>


                        <div id="download-summary-receipt" style="margin-top:20px">
                            <div style="background-color:white;border:2px solid skyblue;">
                                <div class="" style="color:black;font-family:cursive;background-color:white;border-bottom:2px solid black;height:135px">
                                    <div class="row">
                                        <div class="col-2">
                                             <img {% if training_payment.student.image %} src="{{ training_payment.student.image.url }}" {% else %} src="{% static 'admin_site/images/default_image.jpg' %}" {% endif %} style="width:100%;height:133px;border-radius:0px;" />
                                        </div>

                                        <div class="col-8" style="padding:15px">
                                            <h4 class="text-center" style="color:grey;font-family:serif"><b>{{ site_info.name|upper }}</b></h4>
                                            <h6 class="text-center" style="color:grey;font-size:14px;margin-top:10px"><b>...Bridging the Knowledge Gap</b></h6>
                                            <h6 class="text-center" style="color:grey">{{ site_info.address|title }}</h6>
                                            <p class="text-center" style="color:grey;margin-bottom:10px;font-size:13px">{{ site_info.mobile_1 }} | {{ site_info.email|lower }}  </p>
                                        </div>

                                        <div class="col-2">
                                             <img src="{{ site_info.logo.url }}" style="width:100%;height:133px;border-radius:0px;" />
                                        </div>
                                    </div>
                                </div>

                                <div class="bg-success" style="color:white;height:30px;border-bottom:1px solid black;border-top:0px solid black;">
                                    <p class="text-center" style="font-weight:bold;font-family:cursive">Fee Payment Receipt </p>
                                </div>

                                <div style="padding:10px;font-family:cursive">
                                    <div class="row">
                                        <div class="col-6">
                                            No: {{ training_payment.reference|upper }}
                                        </div>
                                        <div class="col-6">
                                            Date: {{ training_payment.payment_date|date }}
                                        </div>
                                        <div class="col-6">
                                            Name: {{ training_payment.student|title }}
                                        </div>

                                        <div class="col-6">
                                            Cohort: {{ training_payment.cohort}}
                                        </div>

                                    </div>

                                </div>

                                <div style="color:black">
                                    <h4 class="card-title" style="padding:10px;color:black">The Sum of {{ amount_in_word|title }} {{ training_payment.currency|title }} Only.</h4>
                                    <h4 class="card-title" style="padding:10px;margin-top:-20px;color:black">Being Payment For {{ training_payment.course|title }} Fee</h4>
                                    <h4 class="card-title" style="padding:10px;margin-top:-20px;color:black">Cohort: {{ training_payment.cohort|title}}</h4>
                                    <h4 class="card-title" style="padding:10px;margin-top:-20px;color:black">{{ training_payment.currency.symbol }}{{ training_payment.amount_paid}}</h4>
                                    <h4 class="card-title text-center" style="padding:10px;margin-top:20px;color:black">
                                        <br />
                                        <hr style="width:200px;border:2px solid black;margin:auto;color:black" />
                                        {{ site_info.name|title }}
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<form method="POST" action="{% url 'update_payment_detail' training_payment.id %}">
    {% csrf_token %}
    <input type="hidden" name="status" value="confirmed">
    <div class="modal fade" id="confirm" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Fee Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body row">
                    <div class="form-floating col-12">
                        <h3 class="te">You are about to confirm fee payment of {{ amount_in_word|title }} {{ training_payment.currency|title }}</h3>
                    </div><br />


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form method="POST" action="{% url 'update_payment_detail' training_payment.id %}">
    {% csrf_token %}
    <input type="hidden" name="status" value="declined">
    <div class="modal fade" id="decline" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Fee Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body row">
                    <div class="form-floating col-12">
                        <h3 class="te">You are about to decline fee payment of {{ amount_in_word|title }} {{ training_payment.currency|title }}</h3>
                    </div><br />


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Decline</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="{% static 'admin_dashboard/scripts/jquery.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>


<script type="text/javascript">
	$(document).on('click','#download-detail-receipt-button', function(){
		const { jsPDF } = window.jspdf;

		let doc = new jsPDF(
		'l', 'mm', [1500, 1400]);
		let pdfjs = document.querySelector('#download-detailed-receipt')

		doc.html(pdfjs, {
			callback: function(doc) {
				doc.save("{{training_payment.student.surname|title}}-{{training_payment.student.last_name|title}}-Receipt.pdf");
			},
			x: 12,
			y: 12
		});
    })
</script>

<script type="text/javascript">
	$(document).on('click','#download-summary-receipt-button', function(){
		const { jsPDF } = window.jspdf;

		let doc = new jsPDF(
		'l', 'mm', [1500, 1400]);
		let pdfjs = document.querySelector('#download-summary-receipt')

		doc.html(pdfjs, {
			callback: function(doc) {
				doc.save("{{training_payment.student.surname|title}}-{{training_payment.student.last_name|title}}-Receipt.pdf");
			},
			x: 12,
			y: 12
		});
    })
</script>
{%endblock %}

