<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ site_info.name|upper }} / Sign in </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'admin_site/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin_site/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'admin_site/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

  <link href="{% static 'admin_site/vendor/remixicon/remixicon.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'admin_site/styles/style.css' %}" rel="stylesheet">


</head>

<body style="width:100%;padding:0px;background-size: cover;background-image: url('{% static "home/about/about2.jpg" %}');">

  <main>

    <div class="container">

      <section class="section register d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card my-5">

                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <a href="{% url 'homepage' %}" class="logo d-flex align-items-center w-auto p-2">
                      <img src="{{ site_info.logo.url }}" alt="">

                    </a>

                  </div><!-- End Logo -->
                  <h1 class="card-title text-center">Password Reset</h1>
                  <form method="post" action="" class="row g-3 needs-validation" >
                    {% csrf_token %}

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Email</label>
                      <input type="email" name="email" class="form-control" id="yourPassword" required>
                    </div>

                    {% if messages %}
                    <div class="col-12">
                      <div class="form-check">
                        {% for message in messages %}
                        <p class="text-center text-danger">{{message}}</p>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif %}

                    {% if form.non_field_errors %}
                    <div class="col-12">
                      <div class="form-check">
                        {% for message in form.non_field_errors %}
                        <p class="text-center text-danger">{{message}}</p>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif %}


                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Send Link</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0"><a style="font-weight:bold" href="{% url 'student_login' %}">Go To Login</a></p>
                    </div>

                  </form>
                </div>
              </div>



            </div>
          </div>
        </div>

    </section>

    </div>
  </main><!-- End #main -->

</body>

</html>

