{% extends 'admin_site/layout.html' %}
{% load static %}
{% block 'main' %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- row -->
    <div class="row">

        <div class="col-12">
            <div class="card profile-card card-bx m-b30">
                <div class="card-header">
                    <h6 class="title">Company Data</h6>
                </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 m-b30">
                                <br>
                                <label class="form-label">Company Name</label>
                                {{ form.name }}
                            </div>
                            <div class="col-sm-6 m-b30">
                                <br>
                                <label class="form-label">Company Short Name</label>
                                {{ form.short_name }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <br>
                                <label class="form-label">Mobile 1</label>
                                {{ form.mobile_1 }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <br>
                                <label class="form-label">Mobile 2</label>
                                {{ form.mobile_2 }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <br>
                                <label class="form-label">Logo</label>
                                {{ form.logo }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <br>
                                <label class="form-label">Email</label>
                                {{ form.email }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <br>
                                <label class="form-label">Address</label>
                                {{ form.address }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <br>
                                <label class="form-label">Whatsapp Number</label>
                                {{ form.whatsapp_number }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <br>
                                <label class="form-label">Facebook Handle</label>
                                {{ form.facebook_handle }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <br>
                                <label class="form-label">Twitter Handle</label>
                                {{ form.twitter_handle }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <br>
                                <label class="form-label">Linkedin Handle</label>
                                {{ form.linkedin_handle }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <br>
                                <label class="form-label">Youtube Handle</label>
                                {{ form.youtube_handle }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <br>
                                <label class="form-label">Primary Color</label>
                                <input type="color" style="height:40px" name="primary_color" value="{{site_info.primary_color}}" class="form-control" required />
                            </div>

                            <div class="col-sm-6 m-b30">
                                <br>
                                <label class="form-label">Secondary Color</label>
                                 <input type="color" style="height:40px" name="secondary_color" value="{{site_info.secondary_color}}" class="form-control" required />
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <input class="btn btn-primary" type="submit" value="SAVE" />

                    </div>

            </div>
        </div>
    </div>

</form>
{% endblock %}