{% extends 'admin_site/layout.html' %}
{% block 'main' %}
{% load static %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Delete Profession</h4>
            <p>Profession: <i>{{profession.name|upper }}</i></p>

            <p>The profession will be permanently deleted.</p>

            <form style="display:inline" method="post">
                {% csrf_token %}

                <button class="btn btn-success">Proceed</button>
            </form>
            <a class="btn btn-danger" href="{% url 'profession_index' %}"> Cancel</a>
        </div>
    </div>
</div>
{% endblock %}