<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Bova Global Logistics</title>
   </head>

<body>
    <nav style="border: 5px solid blue;background-color:rgba(36,255,211,0.4)">
        <img src="http://localhost:8000/media/images/logo/bgl_logo_kqSc1UG.jpeg" style="display:inline-block;width:30%" />
        <h3  style="display:inline-block;width:70%;color:white;font-family:cursive">Bova Global Logistic</h3>
    </nav>

    {% block 'main' %}

    {%endblock %}

    <p class="description" style="text-align:justify">For more information, you call reach us at <br />
        <a href="tel:08163550192"><i class="fa-solid fa-phone"></i> 08163550192</a>  <br />
        <a href="mailto:info@u2me.com"><i class="fa-solid fa-message"></i> Info@u2me.com</a>  <br />
    </p>
    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        &copy; <a class="border-bottom" href="https://{{domain}}">Bova Global Logistic</a>, All Right Reserved.
    </div>


</body>

</html>