{% extends 'communication/mail/layout.html' %}
{% load static %}
{% block 'main' %}
<div id="hero" style="height:80px;background:#0e1d34" class=" d-flex align-items-center">

</div>

<section id="featured-services" class="featured-services">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
                <div class="icon flex-shrink-0"><i class="fa-solid fa-person"></i></div>
                <div>
                    <h4 class="title">Password Reset</h4>
                    <p>We received a request to reset your password for your account.
                        If you did not make this request, please ignore this email. Otherwise,
                        you can reset your password using the link below:
                    </p>
                    <br>
                    <p>
                     <a href="http://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>
                    </p>
                    <br>
                    <p>
                        This link will expire in 24 hours. Please ensure you complete the password reset process within this time frame.
                        <br>
                        If you encounter any issues or need further assistance, feel free to contact our support team.

                    </p>
                    <br>
                    <p class="description" style="text-align:justify">For more information, you call reach us at <br />
                        <a href="tel:{{ site_info.mobile_1 }}"><i class="fa-solid fa-phone"></i> {{ site_info.mobile_1 }}</a>  <br />
                        <a href="{{ site_info.email|lower }}"><i class="fa-solid fa-message"></i> {{ site_info.email|lower }}</a>  <br />
                    </p>
                </div>
            </div>
            <!-- End Service Item -->

        </div>
    </div>
</section><!-- End Featured Services Section -->

{%endblock %}